<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:;base64,=">

    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>

    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- 剪贴板 -->
    <script src="https://cdn.staticfile.org/clipboard.js/2.0.11/clipboard.min.js"></script>

    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?90b728e271c36bba7dbaf721120d177d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>



</head>

<body class="my-3">
    <div class="container">
        <div class="row clearfix">
            <div class="col-12 column">
                <div id="info" class="my-3">
                    <div class="alert alert-success">{{message|safe}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row clearfix">
            <div class="col-12 column">

                <table id="table1" style="margin-bottom: 0px;" class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>server</th>
                            <th>password</th>
                            <th>port</th>
                            <th>count</th>
                        </tr>
                        <tr>
                            <td style="cursor: pointer;">{{server1}}</td>
                            <td style="cursor: pointer;">{{password1}}</td>
                            <td style="cursor: pointer;">{{port1}}</td>
                            <td style="cursor: pointer;">{{count1}}</td>
                        </tr>
                        <tr>
                            <td style="cursor: pointer;">{{server2}}</td>
                            <td style="cursor: pointer;">{{password2}}</td>
                            <td style="cursor: pointer;">{{port2}}</td>
                            <td style="cursor: pointer;">{{count2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row clearfix">
            <div class="col-12 column">
                <div id="tips" class="my-3"></div>
            </div>
        </div>
    </div>
    <script language="javascript" type="text/javascript">
        function copyof(jspath) {
            console.log($(jspath)[0]);
            clipboard = new ClipboardJS(jspath, { text: function () { return $(jspath).text().replace("\n", ""); } });
            clipboard.on('success', function (e) {
                showTip("<strong>复制成功：</strong>" + e.text, "success");
                // console.info('Action:', e.action);
                // console.info('Text:', e.text);
                // console.info('Trigger:', e.trigger);
                console.info(e);
                // e.clearSelection();
            });

            clipboard.on('error', function (e) {
                // console.error('Action:', e.action);
                // console.info('Text:', e.text);
                // console.error('Trigger:', e.trigger);
                console.error(e);
                showTip("<strong>复制失败：</strong>" + JSON.stringify(e), "danger");

            });
            $(jspath).css("cursor", "pointer");
            return clipboard;
        }

        function showTip(msg, type, time) {
            if (type == "success") {
                if (time == undefined) {
                    time = 1000;
                }
                $('#tips').append($(`<div class="alert alert-success"></div>`).append(msg).hide().fadeIn(200).delay(time).fadeOut(200, function () { this.remove() }));
            } else if (type == "danger") {
                if (time == undefined) {
                    time = 5000;
                }
                $('#tips').append($(`<div class="alert alert-danger"></div>`).append(msg).hide().fadeIn(200).delay(time).fadeOut(200, function () { this.remove() }));
            } else {
                if (time == undefined) {
                    time = 1500;
                }
                $('#tips').append($(`<div class="alert alert-info"></div>`).append(msg).hide().fadeIn(200).delay(time).fadeOut(200, function () { this.remove() }));
            }
        }

        $(document).ready(function () {
            $("#table1").addClass("table table-bordered");
            rownum = $("#table1 > tbody > tr").length;
            for (var i = 2; i <= rownum; i++) {
                let server = "#table1 > tbody > tr:nth-child(" + i + ") > td:nth-child(1)";
                let password = "#table1 > tbody > tr:nth-child(" + i + ") > td:nth-child(2)";
                let port = "#table1 > tbody > tr:nth-child(" + i + ") > td:nth-child(3)";
                console.group("init copy of tr: " + i);
                copyof(server);
                copyof(password);
                copyof(port);
                console.groupEnd();
            }
            showTip("<strong>提示：</strong>点击可直接复制", "info");

        });

    </script>
</body>

</html>